<% provide(:title, "入力内容確認") %>

<%= render 'layouts/light_section' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper clearfix stepsPage">
          <div class="row progress-wizard" style="border-bottom:0;">

            <div class="col-xs-4 progress-wizard-step complete fullBar">
              <div class="text-center progress-wizard-stepnum">お届け先情報</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>

            <div class="col-xs-4 progress-wizard-step complete fullBar">
              <div class="text-center progress-wizard-stepnum">お支払い方法</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>

            <div class="col-xs-4 progress-wizard-step complete">
              <div class="text-center progress-wizard-stepnum">入力内容確認</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <i class="progress-wizard-dot"></i>
            </div>

          </div>

          <form action="" class="row" method="POST" role="form">
            <div class="col-xs-12">
              <div class="page-header">
                <h4>入力内容確認</h4>
              </div>
            </div>
            <!-- <div class="col-sm-6 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">ご請求先情報</h4>
                </div>
                <div class="panel-body">
                  <address>
                    <strong>Adam Smith</strong><br>
                    9/4 C Babor Road, Mohammad pur, <br>
                    Shyamoli, Dhaka <br>
                    Bangladesh
                  </address>
                </div>
              </div>
            </div> -->
            <div class="col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">お届け先情報</h4>
                </div>
                <div class="panel-body">
                  <address>
                    <strong>Adam Smith</strong><br>
                    9/4 C Babor Road, Mohammad pur, <br>
                    Shyamoli, Dhaka <br>
                    Bangladesh
                  </address>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-6 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">お支払い方法</h4>
                </div>
                <div class="panel-body">
                  <address>
                    <span>Credit Card - VISA</span>
                  </address>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-sm-6 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">お届け方法</h4>
                </div>
                <div class="panel-body">
                  <address>
                    <span>郵送</span>
                  </address>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">注文詳細</h4>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-4 col-xs-12">
                      <address>
                        <a href="#">Email: adamsmith@bigbag.com</a> <br>
                        <span>Phone: +884 5452 6432</span>
                      </address>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                      <address>
                        <span>Additional Information: </span><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                      </address>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-xs-12">
              <div class="cartListInner">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="col-xs-2">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <span class="cartImage"><%= image_tag("products/cart-image.jpg", :class => "media-left media-object", :alt => "cart-Image") %></span>
                        </td>
                        <td class="col-xs-4">Italian Winter Hat</td>
                        <td class="col-xs-2">$ 99.00</td>
                        <td class="col-xs-2"><input type="text" placeholder="1"></td>
                        <td class="col-xs-2">$ 99.00</td>
                      </tr>
                      <tr>
                        <td class="col-xs-2">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <span class="cartImage"><%= image_tag("products/cart-image.jpg", :class => "media-left media-object", :alt => "cart-Image") %></span>
                        </td>
                        <td class="col-xs-4">Italian Winter Hat</td>
                        <td class="col-xs-2">$ 99.00</td>
                        <td class="col-xs-2"><input type="text" placeholder="1"></td>
                        <td class="col-xs-2">$ 99.00</td>
                      </tr>
                      <tr>
                        <td class="col-xs-2">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <span class="cartImage"><%= image_tag("products/cart-image.jpg", :class => "media-left media-object", :alt => "cart-Image") %></span>
                        </td>
                        <td class="col-xs-4">Italian Winter Hat</td>
                        <td class="col-xs-2">$ 99.00</td>
                        <td class="col-xs-2"><input type="text" placeholder="1"></td>
                        <td class="col-xs-2">$ 99.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row totalAmountArea">
                  <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                    <ul class="list-unstyled">
                      <li>小計 <span>792円</span></li>
                      <li>消費税 <span>18円</span></li>
                      <li>総計 <span class="grandTotal">810円</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="well well-lg clearfix">
                <ul class="pager">
                <li class="previous"><a href="checkout_step_2.html">戻る</a></li>
                  <li class="next"><a href="checkout_complete.html">購入確定</a></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
